<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@332.va_1ee476d8f6d">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <com.synopsys.arc.jenkinsci.plugins.jobrestrictions.jobs.JobRestrictionProperty plugin="job-restrictions@0.8"/>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>fmds_cert</name>
          <defaultValue>Absolute path of franklinmadisonds.com cert file</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>fmds_key</name>
          <defaultValue>Absolute path of franklinmadisonds.com key file</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

RED=&apos;\033[0;31m&apos;
GREEN=&apos;\033[0;32m&apos;
ORANGE=&apos;\033[0;33m&apos;
BLUE=&apos;\033[0;34m&apos;
PURPLE=&apos;\033[0;35m&apos;
NC=&apos;\033[0m&apos;

printf &quot;${RED}fmds cert file${NC} : ${GREEN}$fmds_cert${NC}\n&quot;
printf &quot;${RED}fmds key file${NC} : ${GREEN}$fmds_key${NC}\n&quot;

printf &quot;${RED}Pushing fmds cert and key to ${GREEN}Insuranceapps Dev EFS${NC}\n&quot;
sshpass -f ~/.id_rsa_cred -P &apos;Enter passphrase for key&apos; scp -r $fmds_cert gitlab@10.153.14.187:/common/deploy/ssl/fmds_cert.pem
sshpass -f ~/.id_rsa_cred -P &apos;Enter passphrase for key&apos; scp -r $fmds_key gitlab@10.153.14.187:/common/deploy/ssl/fmds_key.pem

printf &quot;${ORANGE}Updating cert and key in Insuranceapps Dev${NC}\n&quot;
sshpass -f ~/.id_rsa_cred -P &apos;Enter passphrase for key&apos; ssh -i ~/.ssh/id_rsa gitlab@10.153.14.187 &quot;
sshpass -f ~/.id_rsa_cred -P &apos;password for gitlab:&apos; sudo cp /common/deploy/ssl/fmds_cert.pem /common/nginx/ssl/wildcard_fmds.pem;
sshpass -f ~/.id_rsa_cred -P &apos;password for gitlab:&apos; sudo cp /common/deploy/ssl/fmds_key.pem /common/nginx/ssl/privkey.pem;
&quot;

printf &quot;${RED}Pushing fmds cert and key to ${GREEN}Insuranceapps Stage EFS${NC}\n&quot;
sshpass -f ~/.id_rsa_cred -P &apos;Enter passphrase for key&apos; scp -r $fmds_cert gitlab@10.153.19.220:/common/deploy/ssl/fmds_cert.pem
sshpass -f ~/.id_rsa_cred -P &apos;Enter passphrase for key&apos; scp -r $fmds_key gitlab@10.153.19.220:/common/deploy/ssl/fmds_key.pem

printf &quot;${BLUE}Updating cert and key in Insuranceapps Stage${NC}\n&quot;
sshpass -f ~/.id_rsa_cred -P &apos;Enter passphrase for key&apos; ssh -i ~/.ssh/id_rsa gitlab@10.153.19.220 &quot;
sshpass -f ~/.id_rsa_cred -P &apos;password for gitlab:&apos; sudo cp /common/deploy/ssl/fmds_cert.pem /common/nginx/ssl/wildcard_fmds.pem;
sshpass -f ~/.id_rsa_cred -P &apos;password for gitlab:&apos; sudo cp /common/deploy/ssl/fmds_key.pem /common/nginx/ssl/privkey.pem;
&quot;

printf &quot;${RED}Pushing fmds cert and key to ${GREEN}Automation Server${NC}\n&quot;
sshpass -f ~/.id_rsa_cred -P &apos;Enter passphrase for key&apos; scp -r $fmds_cert jenkins@10.153.19.210:/common/deploy/ssl/fmds_cert.pem
sshpass -f ~/.id_rsa_cred -P &apos;Enter passphrase for key&apos; scp -r $fmds_key jenkins@10.153.19.210:/common/deploy/ssl/fmds_key.pem

printf &quot;${BLUE}Updating cert and key in Automation Server${NC}\n&quot;
sshpass -f ~/.id_rsa_cred -P &apos;Enter passphrase for key&apos; ssh -i ~/.ssh/id_rsa jenkins@10.153.19.210 &quot;
sshpass -f ~/.id_rsa_cred -P &apos;password for jenkins:&apos; sudo cp /common/deploy/ssl/fmds_cert.pem /common/nginx/ssl/wildcard_fmds.pem;
sshpass -f ~/.id_rsa_cred -P &apos;password for jenkins:&apos; sudo cp /common/deploy/ssl/fmds_key.pem /common/nginx/ssl/privkey.pem;
sshpass -f ~/.id_rsa_cred -P &apos;password for jenkins:&apos; sudo systemctl restart nginx;
&quot;

printf &quot;${RED}Pushing fmds cert and key to ${GREEN}SonarQube Server${NC}\n&quot;
sshpass -f ~/.id_rsa_cred -P &apos;Enter passphrase for key&apos; scp -r $fmds_cert jenkins@10.153.10.200:/common/deploy/ssl/fmds_cert.pem
sshpass -f ~/.id_rsa_cred -P &apos;Enter passphrase for key&apos; scp -r $fmds_key jenkins@10.153.10.200:/common/deploy/ssl/fmds_key.pem

printf &quot;${BLUE}Updating cert and key in SonarQube Server${NC}\n&quot;
sshpass -f ~/.id_rsa_cred -P &apos;Enter passphrase for key&apos; ssh -i ~/.ssh/id_rsa jenkins@10.153.10.200 &quot;
sshpass -f ~/.id_rsa_cred -P &apos;password for jenkins:&apos; sudo cp /common/deploy/ssl/fmds_cert.pem /etc/nginx/ssl/wildcard_fmds.pem;
sshpass -f ~/.id_rsa_cred -P &apos;password for jenkins:&apos; sudo cp /common/deploy/ssl/fmds_key.pem /etc/nginx/ssl/privkey.pem;
sshpass -f ~/.id_rsa_cred -P &apos;password for jenkins:&apos; sudo systemctl restart nginx;
&quot;

printf &quot;${RED}Pushing fmds cert and key to ${GREEN}Kibana Server${NC}\n&quot;
sshpass -f ~/.id_rsa_cred -P &apos;Enter passphrase for key&apos; scp -r $fmds_cert jenkins@10.153.10.20:/common/deploy/ssl/fmds_cert.pem
sshpass -f ~/.id_rsa_cred -P &apos;Enter passphrase for key&apos; scp -r $fmds_key jenkins@10.153.10.20:/common/deploy/ssl/fmds_key.pem

printf &quot;${BLUE}Updating cert and key in Kibana Server${NC}\n&quot;
sshpass -f ~/.id_rsa_cred -P &apos;Enter passphrase for key&apos; ssh -i ~/.ssh/id_rsa jenkins@10.153.10.20 &quot;
sshpass -f ~/.id_rsa_cred -P &apos;password for jenkins:&apos; sudo cp /common/deploy/ssl/fmds_cert.pem /etc/nginx/ssl/wildcard_fmds.pem;
sshpass -f ~/.id_rsa_cred -P &apos;password for jenkins:&apos; sudo cp /common/deploy/ssl/fmds_key.pem /etc/nginx/ssl/privkey.pem;
sshpass -f ~/.id_rsa_cred -P &apos;password for jenkins:&apos; sudo systemctl restart nginx;
&quot;</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.26"/>
    <hudson.plugins.ansicolor.AnsiColorBuildWrapper plugin="ansicolor@1.0.4">
      <colorMapName>xterm</colorMapName>
    </hudson.plugins.ansicolor.AnsiColorBuildWrapper>
  </buildWrappers>
</project>