<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@332.va_1ee476d8f6d">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <com.synopsys.arc.jenkinsci.plugins.jobrestrictions.jobs.JobRestrictionProperty plugin="job-restrictions@0.8"/>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>Username</name>
          <description>Username to be deleted</description>
          <defaultValue>must_change_this</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>ServerName</name>
          <description>ServerName To choose on which playbook to be Execute</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>Choose One</string>
              <string>insjb_dev_admin</string>
              <string>insjb_dev_slave</string>
              <string>insjb_rml_dev</string>
              <string>insjb_pscharm_dev</string>
              <string>digital_dev</string>
              <string>insuranceapp_dev</string>
              <string>insjb_nginx_stage</string>
              <string>insjb_stage_slave2</string>
              <string>insjb_rml2</string>
              <string>insjb_pcshm2</string>
              <string>insjb_stage_admin</string>
              <string>insjb_stage_slave1</string>
              <string>insjb_rml1</string>
              <string>insjb_pcshm1</string>
              <string>automation</string>
              <string>digital_stage</string>
              <string>insuranceapp_stage</string>
              <string>crucible</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>ansible-playbook /opt/ansible-playbook/userdelete.yaml -e &quot;user_name=$Username&quot; -i /etc/ansible/$ServerName -u ansible --private-key=&quot;~/.ssh/ansible.pem&quot;</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>