<?xml version='1.1' encoding='UTF-8'?>
<hudson.plugins.promoted__builds.PromotionProcess plugin="promoted-builds@945.v597f5c6a_d3fd">
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <conditions>
    <hudson.plugins.promoted__builds.conditions.ManualCondition>
      <users>kerivers, hunterco, ksenkodi, kgulliver, ckilyk, jrindler, ksimmons, mkitgor</users>
      <parameterDefinitions/>
    </hudson.plugins.promoted__builds.conditions.ManualCondition>
  </conditions>
  <icon>star-gold</icon>
  <isVisible></isVisible>
  <buildSteps>
    <hudson.tasks.Shell>
      <command>set +x

product_var=$(echo $JOB_NAME|cut -d_ -f1)

# Deploy to InsuranceJB PCI
cd /opt/scripts/
./rml_deploy_hermes.sh $product_var 10.153.30.20 prod trunk $PROMOTED_ID

# Deploy to Serverless Prod
cd /opt/scripts/
./rml_deploy_hermes.sh $product_var 10.153.2.143 prod trunk $PROMOTED_ID</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
    <org.jenkinsci.plugins.emailext__template.ExtendedEmailTemplatePublisher plugin="emailext-template@1.5">
      <templateIds>
        <org.jenkinsci.plugins.emailext__template.TemplateId>
          <templateId>emailext-template-1621573808129</templateId>
        </org.jenkinsci.plugins.emailext__template.TemplateId>
      </templateIds>
    </org.jenkinsci.plugins.emailext__template.ExtendedEmailTemplatePublisher>
    <hudson.plugins.promoted__builds.KeepBuildForeverAction/>
  </buildSteps>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.26"/>
    <hudson.plugins.ansicolor.AnsiColorBuildWrapper plugin="ansicolor@1.0.4">
      <colorMapName>xterm</colorMapName>
    </hudson.plugins.ansicolor.AnsiColorBuildWrapper>
  </buildWrappers>
</hudson.plugins.promoted__builds.PromotionProcess>