<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>30</daysToKeep>
        <numToKeep>10</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.plugins.promoted__builds.JobPropertyImpl plugin="promoted-builds@945.v597f5c6a_d3fd">
      <activeProcessNames>
        <string>prod</string>
        <string>DR</string>
      </activeProcessNames>
    </hudson.plugins.promoted__builds.JobPropertyImpl>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@332.va_1ee476d8f6d">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <com.synopsys.arc.jenkinsci.plugins.jobrestrictions.jobs.JobRestrictionProperty plugin="job-restrictions@0.8"/>
  </properties>
  <scm class="hudson.scm.SubversionSCM" plugin="subversion@1256.vee91953217b_6">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.franklinmadisonds.com/svn/insurance/rml/isg/trunk</remote>
        <credentialsId>fa1eeeb6-8ea8-4b36-81c9-5f88ef8ef815</credentialsId>
        <local>.</local>
        <depthOption>infinity</depthOption>
        <ignoreExternalsOption>true</ignoreExternalsOption>
        <cancelProcessOnExternalsFail>false</cancelProcessOnExternalsFail>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.UpdateUpdater"/>
    <ignoreDirPropChanges>false</ignoreDirPropChanges>
    <filterChangelog>false</filterChangelog>
    <quietOperation>true</quietOperation>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec>H/5 * * * *</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>set +x

product_var=$(echo $JOB_NAME|cut -d_ -f1)

echo $BUILD_NUMBER $product_var trunk $SVN_URL $SVN_REVISION dev_deploy:NO stage_deploy:NO prod_deploy:NO &gt;&gt; /home/jenkins/rml_deploy/dev_deploy.prop

grep &quot;$BUILD_NUMBER $product_var trunk&quot; /home/jenkins/rml_deploy/dev_deploy.prop

echo RML Product : $product_var
echo SVN Revision : $SVN_REVISION

# Deploy to InsuranceJB Dev
cd /opt/scripts/
./rml_deploy_hermes.sh $product_var 10.153.14.20 dev trunk $BUILD_NUMBER

# Deploy to InsuranceJB Stage
cd /opt/scripts/
./rml_deploy_hermes.sh $product_var 10.153.18.20 stage trunk $BUILD_NUMBER

# Deploy to Serverless Dev
cd /opt/scripts/
./rml_deploy_hermes.sh $product_var 10.153.14.143 dev trunk $BUILD_NUMBER

# Deploy to Serverless Stage
cd /opt/scripts/
./rml_deploy_hermes.sh $product_var 10.153.18.143 stage trunk $BUILD_NUMBER</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <org.jenkinsci.plugins.emailext__template.ExtendedEmailTemplatePublisher plugin="emailext-template@1.5">
      <templateIds>
        <org.jenkinsci.plugins.emailext__template.TemplateId>
          <templateId>emailext-template-1621573554130</templateId>
        </org.jenkinsci.plugins.emailext__template.TemplateId>
      </templateIds>
    </org.jenkinsci.plugins.emailext__template.ExtendedEmailTemplatePublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.26"/>
    <hudson.plugins.ansicolor.AnsiColorBuildWrapper plugin="ansicolor@1.0.4">
      <colorMapName>xterm</colorMapName>
    </hudson.plugins.ansicolor.AnsiColorBuildWrapper>
  </buildWrappers>
</project>