<?xml version='1.1' encoding='UTF-8'?>
<hudson.plugins.promoted__builds.PromotionProcess plugin="promoted-builds@945.v597f5c6a_d3fd">
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <conditions>
    <hudson.plugins.promoted__builds.conditions.ManualCondition>
      <users>ryan, ksenkodi, kgulliver, ckilyk, jrindler, ksimmons, mkitgor</users>
      <parameterDefinitions/>
    </hudson.plugins.promoted__builds.conditions.ManualCondition>
    <hudson.plugins.promoted__builds.conditions.UpstreamPromotionCondition>
      <requiredPromotionNames>staging</requiredPromotionNames>
    </hudson.plugins.promoted__builds.conditions.UpstreamPromotionCondition>
  </conditions>
  <icon>star-gold</icon>
  <isVisible></isVisible>
  <buildSteps>
    <hudson.tasks.Shell>
      <command>/opt/scripts/aws_s3_get_object.sh
/opt/scripts/jboss_deployment.sh $S3_ARTIFACTS_FETCH_PATH/TRUNK 10.153.30.115 production</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
    <hudson.plugins.promoted__builds.KeepBuildForeverAction/>
  </buildSteps>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.26"/>
    <hudson.plugins.ansicolor.AnsiColorBuildWrapper plugin="ansicolor@1.0.4">
      <colorMapName>xterm</colorMapName>
    </hudson.plugins.ansicolor.AnsiColorBuildWrapper>
  </buildWrappers>
</hudson.plugins.promoted__builds.PromotionProcess>