<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@332.va_1ee476d8f6d">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <com.synopsys.arc.jenkinsci.plugins.jobrestrictions.jobs.JobRestrictionProperty plugin="job-restrictions@0.8"/>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>Username</name>
          <description>Username to be added</description>
          <defaultValue>must_change_this</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>UserID</name>
          <description>UserID to be added</description>
          <defaultValue>must_change_this</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>GroupID</name>
          <description>GroupID to be added</description>
          <defaultValue>must_change_this</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.FileParameterDefinition>
          <name>SSH-Public-Key</name>
          <description>SSH Public Key to be added</description>
        </hudson.model.FileParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>ServerName</name>
          <description>ServerName To choose on which playbook to be Execute</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>Choose One</string>
              <string>insjb_dev_admin</string>
              <string>insjb_dev_slave</string>
              <string>insjb_rml_dev</string>
              <string>insjb_pscharm_dev</string>
              <string>digital_dev</string>
              <string>insuranceapp_dev</string>
              <string>insjb_nginx_stage</string>
              <string>insjb_stage_slave2</string>
              <string>insjb_rml2</string>
              <string>insjb_pcshm2</string>
              <string>insjb_stage_admin</string>
              <string>insjb_stage_slave1</string>
              <string>insjb_rml1</string>
              <string>insjb_pcshm1</string>
              <string>automation</string>
              <string>digital_stage</string>
              <string>insuranceapp_stage</string>
              <string>crucible</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>Password</name>
          <description>Password &lt;username&gt; to be added</description>
          <defaultValue>{AQAAABAAAAAgpUDnsPbSLz2jxXrB28ugc5/vuapASirPx3jSf5AbvomdRr4j0cRysE9bh9cEan98}</defaultValue>
        </hudson.model.PasswordParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.SubversionSCM" plugin="subversion@1256.vee91953217b_6">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.franklinmadisonds.com/svn/insurance/ansible/branches/playbooks</remote>
        <credentialsId>fa1eeeb6-8ea8-4b36-81c9-5f88ef8ef815</credentialsId>
        <local>.</local>
        <depthOption>infinity</depthOption>
        <ignoreExternalsOption>true</ignoreExternalsOption>
        <cancelProcessOnExternalsFail>true</cancelProcessOnExternalsFail>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.UpdateUpdater"/>
    <ignoreDirPropChanges>false</ignoreDirPropChanges>
    <filterChangelog>false</filterChangelog>
    <quietOperation>true</quietOperation>
  </scm>
  <canRoam>true</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>ansible-playbook /opt/ansible-playbooks/usercreate_admin.yaml -e &quot;user_name=$Username password=$Password uid=$UserID gid=$GroupID &quot; -i /etc/ansible/$ServerName -u ansible --private-key=&quot;~/.ssh/ansible.pem&quot;</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.26"/>
    <hudson.plugins.ansicolor.AnsiColorBuildWrapper plugin="ansicolor@1.0.4">
      <colorMapName>xterm</colorMapName>
    </hudson.plugins.ansicolor.AnsiColorBuildWrapper>
  </buildWrappers>
</project>