<?xml version='1.1' encoding='UTF-8'?>
<hudson.plugins.promoted__builds.PromotionProcess plugin="promoted-builds@945.v597f5c6a_d3fd">
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <conditions>
    <hudson.plugins.promoted__builds.conditions.ManualCondition>
      <users>vhd, syed, the_next_qa_lead, bshivaraju, mkumaraswamy</users>
      <parameterDefinitions/>
    </hudson.plugins.promoted__builds.conditions.ManualCondition>
  </conditions>
  <icon>star-silver</icon>
  <isVisible></isVisible>
  <buildSteps>
    <hudson.tasks.Shell>
      <command>/opt/scripts/aws_s3_get_object.sh
set +x
cd /opt/scripts
./maven_docker_push.sh &quot;702230634984&quot; &quot;stage&quot; &quot;jenkins_serverless_mgmt_user_stage&quot; &quot;hermes-web-services&quot; &quot;Dockerfile_web_services&quot;
/opt/scripts/ecs_update_service.sh &quot;jenkins_serverless_mgmt_user_stage&quot; &quot;hermes-webservices-stage&quot; &quot;hermes-webservices-api-service-stage&quot; &quot;refresh&quot;
/opt/scripts/ecs_update_service.sh &quot;jenkins_serverless_mgmt_user_stage&quot; &quot;hermes-email-cluster-stage-test&quot; &quot;hms-email-int-svc-stage&quot; &quot;restart&quot;</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </buildSteps>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.26"/>
    <hudson.plugins.ansicolor.AnsiColorBuildWrapper plugin="ansicolor@1.0.4">
      <colorMapName>xterm</colorMapName>
    </hudson.plugins.ansicolor.AnsiColorBuildWrapper>
  </buildWrappers>
</hudson.plugins.promoted__builds.PromotionProcess>